.pantalla {
  display: none;
}
*{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  
}

#pantInicio {
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 18px;
}

header {
  background-color: #FF4500;
  color: white;
  font-size: 1rem;
  text-align: center;
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
  padding-top: 30px;
  
}

header h1{
  position: absolute;
  font-size: 3.3vw;
  font-weight: bolder;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
  color: #ffffff;
  right: 0;
  left: 0;
  margin-top: 0;
  font-family: 'Tilt Prism', cursive;
}



.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px black solid;
  border-top: 1.5px black solid;
  padding: 0;
}

button {
  background-color: #FF8C00;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  height: 60px;
  width: 20%;
  text-align: center;
  justify-content: left;
  align-items: left;
  margin: 0;
  padding: 0;
  transition: all .5s;
  overflow:hidden;
}

.btn.active {
  background-color: #666;
}

button:hover {
  background-color: #ffac31;
  text-shadow: 0.6em 0.9em 0.1em #e4e0e0,
	  -0.7em 0.5em 0.1em #e4e0e0,
	  0.8em -0.7em 0.1em #e4e0e0;
}

.ciudad {
  margin-left: 20px;
  margin-right: 20px;
  border: 3px solid rgb(231, 102, 52);
  background-color: rgba(231, 103, 52, 0.116);
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 15px;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

#header-logo {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  filter: invert(1);
  
}


#results {
  text-align: left;
  padding-left: 50px;
  margin-top: 10px;
  background-color: #ffac31;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  
}
